body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: #3050b0;
}

.navbar {
  position: fixed; /* Make the navbar sticky */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999; /* Ensure navbar is above other content */
}
.navbar-item a {
  color: white;
  font-weight: 500;
  font-size: 10px; /* Adjust font size as needed */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none; /* Remove underline */
}

#middle {
  font-size: medium;
}
.middle {
  padding-top: 2%;
}

#about_headshot {
  padding: 15%;
  height: 30vh;
  width: auto;
  padding-bottom: 20px;
}

.about_div {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  font-family: 'Comfortaa', sans-serif;
  color: white;
}
.about_p {
  font-size: 12px;
  width: 70vw;
  text-align: center;
}

.about-logos {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
}

.about-logos img {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: auto;
}
#email-link {
  font-size: x-small;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  #about_headshot {
    padding-top: 5%;
    height: 40vh;
    width: auto;
  }
  .about_p {
    font-size: medium;
    width: 60vw;
    text-align: center;
  }
  .about-logos img {
    display: flex;
    flex-direction: row;

    height: 5vh;
    width: auto;
  }
}
