body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: #3050b0;
}
.sticky {
  position: sticky;
  top: 0;
}
.navbar {
  position: fixed; /* Make the navbar sticky */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999; /* Ensure navbar is above other content */
}
.navbar-item a {
  color: white;
  font-weight: 500;
  font-size: 10px; /* Adjust font size as needed */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none; /* Remove underline */
}

#middle {
  font-size: larger;
}

.sticky {
  position: sticky;
  top: 0;
}

#about_headshot {
  height: 30vh;
  width: auto;
  padding-bottom: 20px;
}

.about_div {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 80px;
  font-family: 'Comfortaa', sans-serif;
  color: white;
}
.about_p {
  font-size: 12px;
  width: 60vw;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about_div {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 80px;
    color: white;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
  }
  .about_p {
    width: 50vh;
    text-align: center;
    text-wrap: nowrap;
  }
}
