* {
  --main-blue: #3050b0;
  --main-white: white;
}

/********** Main styling **********/
.contact_body {
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  background: var(--main-blue);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; 
  width: 48%;
}

.contact-title h2 {
  font-weight: 600; 
  color: var(--main-white);
  font-size: 40px;
  margin-bottom: 5px;
}

/********** Form Inputs **********/
.contact-inputs {
  width: 100%; 
  height: 60px; 
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500px;
  color: var(--main-blue);
  border-radius: 50px;
}

.contact-form textarea {
  height: 140px; 
  padding-top: 20px;
  border-radius: 25px;
}

.contact-form button {
  display: flex;
  align-items: center;
  padding: 15px 30px; 
  color: var(--main-blue); 
  gap: 10px;
  border: none; 
  border-radius: 50px;
  background: var(--main-white); 
  cursor: pointer; 
}

.contact-inputs::placeholder,
.contact-form button,
.contact-form textarea {
  color: var(--main-blue);; 
  font-family: 'Comfortaa', sans-serif;
  font-size: 15px;
}

/********** Media Queries **********/
/* Adjustments for tablets and below */
@media (max-width: 1270px) {
  .contact-container {
    flex-direction: column; 
    justify-content: center; 
  }

  .contact-form {
    width: 100%; /* Use the full width to give more room */
    max-width: 50%; /* Limit the maximum width to ensure the form and image don't become too wide */
    margin: 0 auto; 
    align-items: center;
  }
}

@media (max-width: 660px) {

  .contact-form h2 {
    text-align: center;
    font-size: 30px;
  }
}
