
/* Centering the form container */
.contact_body {
  box-sizing: border-box;
  font-family: 'Outfit';
  background: #3050b0;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; 
}

.contact-left-title h2 {
  font-weight: 600; 
  color: white; 
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-inputs {
  width: 400px; 
  height: 50px; 
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500px;
  color: #3050b0;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px; 
  padding-top: 15px;
  border-radius: 25px;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px; 
  font-size: 15px;
  color: #3050b0 ; 
  gap: 10px;
  border: none; 
  border-radius: 50px;
  background: white; 
  cursor: pointer; 
}

/* Adjustments for tablets and below */
@media (max-width: 1270px) {
  .contact-container {
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
  }

  .contact-left {
    width: 100%; /* Use the full width to give more room */
    max-width: 80%; /* Limit the maximum width to ensure the form and image don't become too wide */
    margin: 0 auto; /* Center the contents */
    align-items: center;
  }
}

/* Adjustments for tablets and below */
@media (max-width: 600px) {
  .contact-container {
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
  }

  .contact-left,
  .contact-inputs {
    max-width: 80%; /* Limit the maximum width to ensure the form and image don't become too wide */
    margin: 0 auto; /* Center the contents */
    align-items: center;
  }
  .contact-left-title {
    align-items: center;
    margin: 0 auto;
  }
}
