/********** Body **********/
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: #3050b0;
}

/********** Navbar **********/ 
.navbar {
  position: fixed; /* Make the navbar sticky */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999; /* Ensure navbar is above other content */
}

.navbar-item a {
  color: white;
  font-weight: 500;
  font-size: 10px; /* Adjust font size as needed */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none; /* Remove underline */
}
/********** About **********/
.about_body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align text in a column */
  color: white;
}

.about_p {
  font-size: x-large;
  padding-top: 300px;
  max-width: 500px;
  word-wrap: break-word;
  text-align: center;
  color: white;
}

/********** About 2nd?? **********/
/* This is a different version
.about_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_p {
  font-size: x-large;
  padding-top: 300px;
  max-width: 1500px;
  word-wrap: break-word;
  text-align: center;
  color: white;
}
*/ 

/* 
Double check 
.contact_row {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 8px; 
  justify-content: center;
  align-items: center;
}

.contact_text {
  font-size: x-large;
  color: white;
  text-align: center;
}

.contact_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_icons img {
  height: 4vh;
  width: auto;
}

*/ 

/********** Logos **********/
#instagram,
#linkedIn,
#tikTok {
  height: 4vh;
  width: auto;
  padding: 2px;
}

#logo {
  height: 4vh;
  width: auto;
}

/********** Screens **********/ 
.screen {
  height: 100vh;
  position: relative;
  z-index: 1; /* Ensure all screens are initially visible */
  top: 0; /* Start each screen at the top of the viewport */
  transition: z-index 0.5s; /* Add a smooth transition effect */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.screen1 {
  height: 100vh;
  background: #3050b0;
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.screen1 img,
.screen8 img,
.screen12 img {
  height: 450px; /* Set a fixed height for each image */
  width: 300px; /* Set a fixed width for each image */
  object-fit: cover; /* Ensure the image covers the entire space */
}

.screen8 {
  background: #3050b0;
  height: 100vh;
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.screen3 {
  background: #000;
  height: auto;
  width: auto;
}

.screen2,
.screen3,
.screen6,
.screen7,
.screen11,
.screen13,
.screen15,
.screen16 {
  height: 100vh; /* Set a percentage height for each image */
}

.screen4,
.screen14 {
  background: #000;
}

.screen4 img,
.screen14 img {
  height: 30vh;
  width: 40vw;
  margin: 5px;
}

.screen5 img {
  height: 100vh;
  width: 100vw;
}

.screen7,
.screen10,
.screen16,
.screen15 {
  background: white;
}

.screen7 img,
.screen10 img,
.screen16 img {
  height: 50vh;
  width: 47vw;
  margin: 5px;
}

.screen12 {
  background: white;
  height: 100vh;
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.screen15 img {
  /* REVIEW THIS ONE*/
  height: 75vh;
  width: 95vw;
}

.sticky {
  position: sticky;
  top: 0;
}

img {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100vh; /* Set the height to 100% of the viewport height */
  object-fit: cover; /* Ensure the image covers the entire viewport */
}

/********** Positions **********/
.left {
  /* Align to the top left */
  position: absolute;
  left: 20px;
  top: 20px;
}

.middle {
  /* Center horizontally */
  margin: 0 auto;
}

.right {
  /* Align to the top right */
  position: absolute;
  right: 20px;
  top: 20px;
}

/********** Media query for larger screens **********/
@media screen and (min-width: 768px) {
  .screen1 img,
  .screen8 img,
  .screen12 img {
    height: 600px; /* Set a fixed height for each image on desktop */
    width: auto; /* Allow the width to adjust based on the height */
  }

  .screen2 img {
    /*Needs to be changed ** Octavia Img Long */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .screen3 img {
    height: 100vh; /* Set a fixed height for each image on desktop */
  }

  .screen4 img,
  .screen7 img,
  .screen16 img {
    margin-right: 10px;
    margin-left: 10px;
    height: 75vh;
  }

  .screen10 img {
    margin-right: 10px;
    margin-left: 10px;
    height: 75vh;
    width: 30vw;
  }

  .screen11 img {
    /*Needs to be changed ** Octavia Img Long */
    height: 80vh;
    width: 61vw;
  }

  .screen13 img {
    height: 80vh;
    width: 34.55vw;
  }

  .screen14 img {
    margin-right: 10px;
    margin-left: 10px;
    height: 90vh;
    width: 30vw;
  }

  .screen15 img {
    height: 80vh;
    width: auto;
  }

  .screen17 img {
    height: auto;
  }

  .screen18 img {
    height: auto;
  }
}
