body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.screen {
  height: 100vh;
  position: relative;
  z-index: 1; /* Ensure all screens are initially visible */
  top: 0; /* Start each screen at the top of the viewport */
  transition: z-index 0.5s; /* Add a smooth transition effect */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.screen1 {
  background: red;
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.screen1 img {
  height: 850px; /* Set a fixed height for each image */
  width: 550px; /* Set a fixed width for each image */
  object-fit: cover; /* Ensure the image covers the entire space */
}
.sticky {
  position: sticky;
  top: 0;
}
img {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100vh; /* Set the height to 100% of the viewport height */
  object-fit: cover; /* Ensure the image covers the entire viewport */
}

.navbar {
  position: fixed; /* Make the navbar sticky */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999; /* Ensure navbar is above other content */
}

.navbar-item {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px; /* Adjust font size as needed */
}

.left {
  /* Align to the top left */
  position: absolute;
  left: 20px;
  top: 20px;
}

.middle {
  /* Center horizontally */
  margin: 0 auto;
}

.right {
  /* Align to the top right */
  position: absolute;
  right: 20px;
  top: 20px;
}
